.Adoption-Form-Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 999;
}

.logo {
    position: absolute;
    top: 0px;     
    left: 5px;
    width: 120px;   
    height: auto;
    z-index: 10;
}

.Adoption-Box {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 80%;
    max-width: 1100px;
    max-height: 90vh;
    margin: 40px auto;
    background: white;
    border-radius: 12px;
    overflow: auto;
    box-shadow: 0px 8px 40px rgba(0,0,0,0.25);

}

/* Left Side */
.pet-info {
    width: 45%;
    padding: 30px;
    border-right: 2px solid #eee;
    font-family: "Fredoka", sans-serif;
    margin-top: 80px;
}

.pet-image {
    width: 100%;
    height: 320px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.pet-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/* Right Side */
.form-section {
    width: 55%;
    padding: 40px;
    padding-left: 90px;
    font-family: "Fredoka", sans-serif;
}

.header {
    font-family: "Fredoka", sans-serif;
    color: #0A2540
}

.section label {
    display: block;
    margin-top: 15px;
    font-weight: 500;
}

.section input {
    width: 50%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.actions {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.cancel-btn {
    padding: 10px 20px;
    border-radius: 25px;
    background: #0e233f;
    color: white;
    text-decoration: none;
}

.continue-btn {
    padding: 10px 30px;
    border-radius: 25px;
    background: #0049c1;
    color: white;
    border: none;
}
