.filters {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    gap: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.filter-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.filter-group label {
    font-weight: 500;
    color: #000000;
    font-size: 14px;
}

.filter-group select {
    padding: 8px 12px;
    border: 2px solid #e0e0e0;
    border-radius: 6px;
    font-family: 'Fredoka', sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.submit button {
    padding: 8px 20px;
    background-color: #0047ab;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

.apply-btn {
    padding:10px 20px;
    border-radius:10px;
    background-color:#0047ab;
    color:white;     
    border:none; 
    cursor: pointer;
}