.nav-bar{
    display: flex; 
    align-items: center; 
    background-color: #b4dcd4; 
    padding: 0; 
    margin: 0; 
    justify-content: center;
    color: black;
}

.nav-links {
    list-style-type: none;
    display: inline-flex; 
    gap: 30px;
}

.title {
    font-family: Fredoka, sans-serif;
    color: #0e233f;
}

.nav-elems {
    text-decoration: none;
    color: black;
    font-family: Fredoka, sans-serif;
}

body {
    font-family: 'Fredoka', sans-serif; 
    font-weight: 400; 
    font-style: normal; 
    margin: 0; 
    padding: 0; 
    color: black;
}

.status-container {
    margin-left: 50px;
    margin-top: 30px;
}
.search-btn {
    background-color: #0047ab; 
    width: 100px; 
    text-align: center; 
    color: white; 
    height: 30px; 
    align-content: center; 
    border-radius: 20px; 
    text-decoration: none;
}

.table-container {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 90%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #1f60bb;
    color: white;
}

th {
    padding: 15px;
    text-align: left;
    font-weight: 600;
}

td {
    padding: 15px;
    border-bottom: 1px solid #f0f0f0;
}

tbody tr:hover {
    background-color: #f9f9f9;
}

.status-pending {
    color: orange;
    font-weight: bold;
}

.status-accepted {
    color: green;
    font-weight: bold;
}

.status-rejected {
    color: red;
    font-weight: bold;
}

.msg-error {
    color: red;
    margin-top: 30px;
}

.footer {
    background-color: #b4dcd4; 
    align-content: center; 
    display: flex; 
    gap: 20%; 
    justify-content: center; 
    padding: 0;
    padding-top: 30px;
    margin-top: 23%;
}

.footer-elems {
    line-height: 14px;
    align-content: center;
}

.footer-link {
    font-size: small; 
    text-decoration: none;
}


