body {
    font-family: "Fredoka", sans-serif;
    background: white;
    margin: 0;
    padding: 40px 0;
}

.donation-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45); /* dim background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    padding: 20px;
}

.donation-box {
    background: white;
    max-width: 550px;
    width: 100%;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    max-height: 90vh;       
    overflow-y: auto;
}

.header {
    display: flex;
    gap: 20px;
    align-items: center
}

.logo {
    width: 150px;
}

h1 {
    font-size: 48px;
    font-weight: 600;
    margin: 0;
    color: #0047AB
}

.header p {
    color: #555;
    font-size: 20px;
    margin-top: 8px;
    line-height: 1.4;
}

.section {
    margin-top: 40px;
}

.section h2 {
    margin-bottom: 20px;
    color: #626161;
    font-size: 22px;
}

.amount-grid {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 25px 40px;
}

.amount-btn {
    border: 2px solid #333;
    padding: 15px 0;
    font-size: 28px;
    background: white;
    cursor: pointer;
}

.other-amount {
    border: 2px solid #333;
    padding: 15px;
    font-size: 22px;
}

.other-amount input {
    border: none;
    outline: none;
    font-size: 22px;
    width: 120px;
}

select {
    padding: 12px;
    font-size: 18px;
    width: 240px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.actions {
    display: flex;
    gap: 80px;
    margin-top: 60px;
}

.cancel-btn {
    background: #F6F4F5;
    border: 6px solid #7CC8B8;
    padding: 10px 40px;
    font-size: 28px;
    cursor: pointer;
}

.continue-btn {
    background: #7CC8B8;
    border: none;
    padding: 10px 40px;
    font-size: 28px;
    cursor: pointer;
}