.animal-card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.animal-card:hover {
    transform: translateY(-5px);
}

.more-animal-button:hover {
    opacity: 0.5;
    transition-duration: 0.2s;
}