<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animals.css') }}">
    <title>Document</title>
</head>
<body style="font-family: 'Fredoka', sans-serif; font-weight: 400; font-style: normal; margin: 0; padding: 0; color: black;">
    <nav style="display: flex; align-items: center; background-color: #b4dcd4; padding: 10px; margin: 0; justify-content: center;">
        <img src="{{url_for('static', filename='images/C4C_Logo.png')}}" style="height: 50px;">
        <ul style="list-style-type: none; display: inline-flex; gap: 30px;">
            <a href="/" style="text-decoration: none; color: black;">Home</a>
            <a href="animals" style="text-decoration: none; color: black">Adopt</a>
            <a href="fundraisers" style=" text-decoration: none; color: black">Fundraisers</a>
            <a href="donate" style=" text-decoration: none; color: black">Donate</a>
            <a href="/application_status" style="text-decoration: none; color: black">Application Status</a>
        </ul>
    </nav>

    <div style=" display: flex; justify-content: center; flex-direction: column">
        <h3 style="font-weight: 500; font-size: xx-large; text-align: center; text-transform: capitalize;">{{animal_type}}</h3>
        <div style="justify-content: center; display: flex; flex-direction: row; gap: 20px; text-align: center; height: 30px;">
            <a href="animals" style="width: 125px; background-color: #0047ab; color: white; text-decoration: none; text-align: center; align-content: center; border-radius: 20px;">All animals</a>
            <a href="mammals" style="width: 125px; background-color: #0047ab; color: white; text-decoration: none; text-align: center; align-content: center; border-radius: 20px;">Mammals</a>
            <a href="exotics" style="width: 125px; background-color: #0047ab; color: white; text-decoration: none; text-align: center; align-content: center; border-radius: 20px;">Exotics</a>
            <a href="fish" style="width: 125px; background-color: #0047ab; color: white; text-decoration: none; text-align: center; align-content: center; border-radius: 20px;">Fish</a>
        </div>
        <div style="display: flex; flex-direction: row; width:inherit; margin: 20px; gap: 20px;">
            <div style="background-color: #b4dcd4; display:flex; flex-direction: column; width: 20%;border-radius: 30px; gap: 20px; padding: 20px; height: fit-content;">
                <form method="POST" action="{{animal_type}}">
                    <p style="font-size: medium; font-weight: 500;">Filter Animals</p>
                    <div class="filter-group">
                        <label>Sort by shelter</label>
                        <select name="shelter_locations" id="shelter_locations">
                            <option value="None">All locations</option>
                            {% for location in locations %}
                                <option value="{{location.ShelterName}}">{{location.ShelterName}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br>
                    <div class="filter-group">
                        <label>Sort by pet age</label>
                            {% for age in pet_ages %}
                            <label for="{{age.Age}}">
                                <input type="checkbox" name="selected_ages" value="{{age.Age}}">
                                {{age.Age}}
                            </label>
                            {% endfor %}
                    </div>
                    <br>
                    <div style="justify-content: center;" class="submit">
                        <button type="submit" >Apply filters</button>
                    </div>
                </form> 
                
            </div>
            <div style=" width: 80%; gap: 20px; display: grid; grid-template-columns: 1fr 1fr 1fr;">
                {% for animal in animals %}
                <div style="background-color: #e6eddc;  border-radius: 30px; padding: 20px;box-shadow: 5px 5px 10px rgba(90, 90, 90, 0.5);">
                    <div style="width: auto; height: 30vh;">
                        <img src="{{animal.Photo}}" style="width: 100%; height: 100%;">
                    </div>
                    <p style="font-size: medium; font-weight: 500;">{{animal.Name}}</p>
                    <p>Species: {{animal.Species}}</p>
                    <p>Age: {{animal.Age}}</p>
                    <p>{{animal.ShelterLocation}}</p>
                    <form method="GET" action="{{ url_for('adopt_form', pet_id=animal.PetID) }}">
                        <button type="submit" class="apply-btn" style="padding:10px 20px; border-radius:10px; background-color:#0047ab; color:white; border:none; cursor: pointer;">
                            <style>
                                .apply-btn:hover{
                                    opacity: 0.8;
                                }
                            </style>
                            Apply for adoption
                        </button>
                    </form>
                </div>
                {% endfor%}
            </div>
        </div>

    </div>
</body>
<footer style="background-color: #b4dcd4; align-content: center; display: flex; gap: 20%; justify-content: center; padding: 10px;">
    <div style="align-content: center;">
        <img src="{{url_for('static', filename='images/C4C_Logo.png')}}" style="height: 50px;">
    </div>
    <div style="line-height: 14px; align-content: center;">
        <a href="/" style="font-size: small; text-decoration: none;">Home</a>
        <br>
        <a style="font-size: small;">About</a>
        <br>
        <a style="font-size: small;">Contact Us</a>
    </div>
    <div style="align-content: center;">
        <a href="login" style="font-size: small; text-decoration: none;">Supervisor Login</a>
    </div>
</footer>
</html>