<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adoptForm.css') }}">
    <title>Adopt</title>
</head>

<body>
    <div class="ThankYou-Overlay">
        <div class="ThankYou-Box">
            <div class="ThankYou-Header">
                <img class="ThankYou-Logo" src="/static/images/C4C_Logo.png" alt="Logo">
                <div class="title">
                    <h1>Care for Critters</h1>               
                </div>
            </div>

            <div class="thank-msg">
                <div class="section">
                    <h2>Thank you for submitting an <br> 
                        adoption application to Care for Critters. Your <br>
                        application is currently being processed. We will notify <br>
                        you via Email!</h2>
                </div>
            </div>

            <div class="ThankYou-Actions">
                <a href="/" class="home-btn" >Back to Home</a>
            </div>
        </div>
    </div>
</body>