<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adoptForm.css') }}">

    <title>Adopt</title>
</head>

<body>
    <div class="Adoption-Form-Overlay">
        <div class="Adoption-Box">
            <img class="logo" src="/static/images/C4C_Logo.png" alt="Logo">

            <!--Pet Info-->
            <div class="pet-info">
                <div class="pet-image">
                    <img class="pet-photo" src="{{ pet.Photo }}" alt="/static/images/pet_placeholder.png"> 
                </div>

                <h2 class="pet-name">{{ pet.Name }}</h2>
                <p class="pet-id">PetID: {{ pet.PetID }}</p>
                
                <div class="pet-details">

                    <!--General Info-->
                    <div class="general-info">
                        <h3><b>Approx. Age: </b> {{ pet.Age }}</h3>
                        
                        <h3><b>Species/Breed: </b>{{ pet.Species }}</h3>
            
                        <h3><b>Diet: </b> {{ pet.Diet }} </h3>
                    </div>
                    
                    <!--Type specific info-->
                    <div class="other-info">
                        <h3><b>Other Info:</b></h3>
                    </div>

                </div>
            </div>

            <!--Personal Information Form-->
            <form class="form-section" id="infoForm" method="POST" action="/form_submit" novalidate>
                 <div class="header">
                    <div class="titles">
                        <h1>Adoption Application</h1>
                        <p>Please fill out the form below: </p>
                    </div>
                </div>

                <div class="section">
                    <label>First Name</label>
                    <input name="first_name">

                    <label>Last Name</label>
                    <input name="last_name">

                    <div class="address-group">
                        <div class="address-field building-no">
                            <label for="building_no">Building No.</label>
                            <input id="building_no" name="building_no" type="text" autocomplete="off"/>
                        </div>

                        <div class="address-field street">
                            <label for="street">Street</label>
                            <input id="street" name="street" type="text" autocomplete="nope" />
                        </div>

                        <div class="address-field postal-code">
                            <label for="postal_code">Postal Code</label>
                            <input id="postal_code" name="postal_code" type="text" />
                        </div>                        
                        
                        <div class="address-field city">
                            <label for="city">City</label>
                            <input id="city" name="city" type="text" />
                        </div>

                        <div class="address-field province">
                            <label for="province">Province</label>
                            <input id="province" name="province" type="text" />
                        </div>

                    </div>


                    <label>Phone Number: </label>
                    <input name="phone_number" type="number">

                    <label>Driver's License</label>
                    <input name="license_number" type="number">

                    <label>Email Address</label>
                    <input type="email" name="email">

                    <input type="hidden" name="pet_id" value="{{ pet.PetID }}">
                    print("pet_id received from form:", pet_id)
                    
                </div>

                <!--NAV Buttons-->
                <p>Pet ID (debug): {{ pet.PetID }}</p>
                <div class="actions">
                    <a href="/animals" class="cancel-btn">Cancel</a>
                    <button type="submit" class="continue-btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>