<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adoptForm.css') }}">

    <title>Adopt</title>
</head>

<body>
    <div class="Adoption-Form-Overlay">
        <div class="Adoption-Box">
            <style>
                .Adoption-Box {
                    width: 500px;
                    min-height: 300px;
                    background: white;
                    border-radius: 20px;
                    position: relative;
                    padding: 20px;
                }
            </style>
            <img class="logo" src="/static/images/C4C_Logo.png" alt="Logo">
            <h1>Thank you!</h1>
        </div>
    </div>
</body>