<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/application_status.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <title>View Application Status</title>
</head>
<body>
    <nav class ="nav-bar">
        <img src="{{url_for('static', filename='images/C4C_Logo.png')}}" style="height: 50px;">
        <ul class="nav-links">
            <a href="/" class="nav-elems">Home</a>
            <a href="animals" class="nav-elems">Adopt</a>
            <a href="fundraisers" class="nav-elems">Fundraisers</a>
            <a href="donate" class="nav-elems">Donate</a>
            <a href="/application_status" class="nav-elems">Application Status</a>
        </ul>
    </nav>

    <main class="status-container">
        <div class="title">
            <h2>Check Your Adoption Application</h2>
        </div>

        <form method="GET" action="{{ url_for('view_applications') }}" class="status-form">
            <input type="email" name="email" placeholder="Email Address" required>
            <button type="submit" class="search-btn">Check Status</button>
        </form>

        {% if error %}
            <div class="msg-error">{{ error }}</div>
        {% endif %}

        {% if results %}
        <div class="welcome-msg">
            <h3>Welcome, {{ results[0].Fname }} {{ results[0].Lname }}! <br> Here are your applications:</h3>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Application ID</th>
                        <th>Applicant</th>
                        <th>Pet</th>
                        <th>Adoption Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in results %}
                    <tr>
                        <td>{{ r.AdoptionID }}</td>
                        <td>{{ r.Fname}} {{ r.Lname }} <br><small>{{ r.Email }}</small></td>
                        <td>{{ r.PetName }}</td>
                        <td>{{ r.AdoptionDate }}</td>
                        <td class="
                            {% if r.Status == 'Pending' %}status-pending{% endif %}
                            {% if r.Status == 'Accepted' %}status-accepted{% endif %}
                            {% if r.Status == 'Rejected' %}status-rejected{% endif %}
                            ">{{ r.Status }}</td>                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </main>
    <footer class="footer">
    <div style="align-content: center;">
        <img src="{{url_for('static', filename='images/C4C_Logo.png')}}" style="height: 50px;">
    </div>
    <div class="footer-elem">
        <a href="/" class="footer-link">Home</a>
        <br>
        <a class="footer-link">About</a>
        <br>
        <a class="footer-link">Contact Us</a>
    </div>
    <div style="align-content: center;">
        <a href="login" class="footer-link">Supervisor Login</a>
    </div>
</footer>
</body>
</html>

    