<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/application_status.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <title>View Application Status</title>
</head>
<body>
    <nav class ="nav-bar">
        <img src="{{url_for('static', filename='images/C4C_Logo.png')}}" style="height: 50px;">
        <ul class="nav-links">
            <a href="/" class="nav-elems">Home</a>
            <a href="animals" class="nav-elems">Adopt</a>
            <a href="fundraisers" class="nav-elems">Fundraisers</a>
            <a href="donate" class="nav-elems">Donate</a>
            <a href="/application_status" class="nav-elems">Application Status</a>
        </ul>
    </nav>

    <main class="status-container">
        <div class="title">
            <h2>Check Your Adoption Application</h2>
        </div>

        <form method="GET" action="application_status.html" class="status-form">
            <input type="email" name="email" placeholder="Email Address" required>
            <button type="submit" class="search-btn">Check Status</button>
        </form>


    </main>
</body>

<footer class="footer">
    <div style="align-content: center;">
        <img src="{{url_for('static', filename='images/C4C_Logo.png')}}" style="height: 50px;">
    </div>
    <div class="footer-elem">
        <a href="/" class="footer-link">Home</a>
        <br>
        <a class="footer-link">About</a>
        <br>
        <a class="footer-link">Contact Us</a>
    </div>
    <div style="align-content: center;">
        <a href="login" class="footer-link">Supervisor Login</a>
    </div>
</footer>

</html>

    