<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>View Application Status</title>
</head>
<body>
    <nav class ="nav-bar">
        <img src="{{url_for('static', filename='images/C4C_Logo.png')}}" style="height: 50px;">
        <ul style="list-style-type: none; display: inline-flex; gap: 30px;">
            <a href="/" style="text-decoration: none;" >Home</a>
            <a href="animals" style="text-decoration: none;">Adopt</a>
            <a href="fundraisers" style=" text-decoration: none;">Fundraisers</a>
            <a href="donate" style=" text-decoration: none;">Donate</a>
            <a href="/application_status" style="text-decoration: none;">Application Status</a>
        </ul>
    </nav>

    <main class="status-container">
        <h1>Check Your Adoption Application</h1>

        <form method="GET" action="application_status.html" class="status-form">
            <input type="email" name="email" placeholder="Email Address" required>
        </form>

        {% if name %}
            <p class="status-greeting">Welcome {{ name }}, here are your adoption applications: </p>
        {% elif s}

    </main>
    