<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/donate.css') }}">

    <title>Donate</title>
</head>
<body>

<div class="donation-overlay">

    <div class="donation-box">
         <div class="header">
        <img src="{{ url_for('static', filename='images/C4C_Logo.png') }}" class="logo">
        <div class="titles">
            <h1>Care for Critters</h1>
            <p>Wanting to donate? Please fill out the form below</p>
        </div>
    </div>


    <!--Personal Information Form-->
    <form id="step2Form" action="{{ url_for('donate_step3')}}" method="POST" novalidate>
        <div class="form-row">
            <!--Back Button-->
            <div class="back-btn">
                <a href="/donate">&#10094;</a>
            </div>
            <div class="form-content">

                <div class="section">
                    <h2>Please enter your details</h2>
                    <p>You are donating ${{ amount }} to {{ shelter }}</p>

                    <div class="amount-grid">
                        <label>First Name:</label>
                        <input name="first_name">

                        <label>Last Name:</label>
                        <input name="last_name">

                        <label>Email:</label>
                        <input name="email">

                        <label>Phone Number:</label>
                        <input name="phone_number">
                    </div>
                </div>
            </div>
        </div>

         <!--ERROR MESSAGE-->
                {% if error %}
                    <div class="error" role="alert">
                        {{ error }}
                    </div>
                {% endif %}
                
        <!--NAV BUTTONS-->
        <div class="actions actions-step2">
            <button type="submit" class="donate-btn">Donate</button>
        </div>

        <input type="hidden" name="amount" value="{{ amount }}">
        <input type="hidden" name="shelter" value="{{ shelter }}">
    </form>
</div>
</body>
</html>