<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/donate.css') }}">

    <title>Donate</title>
</head>
<body>

<div class="donation-overlay">

    <div class="donation-box">
         <div class="header">
        <img src="{{ url_for('static', filename='images/C4C_Logo.png') }}" class="logo">
        <div class="titles">
            <h1>Care for Critters</h1>
            <p>Wanting to donate? Please fill out the form<br>below</p>
        </div>
    </div>

    <!--SELECT AMOUNT SECTION-->
    <div class="section">
        <h2>Choose donation amount</h2>

        <div class="amount-grid">
            <button class="amount-btn">$25</button>
            <button class="amount-btn">$50</button>
            <button class="amount-btn">$100</button>

            <div class="other-amount">
                <label>Other Amount:</label>
                <input type="text">
            </div>
        </div>
    </div>

    <!--SHELTER SECTION-->
    <div class="section">
        <h2>Choose a shelter to donate to: </h2>
        <select>
            <option value="">Shelter</option> <!--TODO: INSERT SQL QUERY STUFF HERE-->
        </select>
    </div>

    <!--NAV BUTTONS-->
    <div class="actions">
        <a href="/" class="cancel-btn">Cancel</a>
        <button class="continue-btn">Continue</button>
    </div>
    </div>
   
</div>
</body>
</html>