<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/donate.css') }}">

    <title>Donate</title>
</head>
<body>

<div class="donation-overlay">

    <div class="donation-box">
         <div class="header">
        <img src="{{ url_for('static', filename='images/C4C_Logo.png') }}" class="logo">
        <div class="titles">
            <h1>Care for Critters</h1>
        </div>
    </div>

    <!--Personal Information Form-->
    <div class="thank-msg">
        <div class="section">
            <h2>Thank you for donating to <span style="color: #0047AB">Care for Critters</span>. <br> Your support is much apreciated!</h2>
        </div>
    </div>
    

    <!--NAV BUTTONS-->
    <div class="actions actions-step1">
        <a href="/" class="cancel-btn">Back</a>
        <a href="/donate" class="continue-btn">Donate More</a>
    </div>
</div>
</body>
</html>