<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body style="font-family: 'Fredoka', sans-serif; font-weight: 400; font-style: normal; margin: 0; padding: 0;">
    <nav style="display: flex; justify-content: center; align-items: center; background-color: #b4dcd4;">
        <ul style="list-style-type: none; display: inline-flex; padding: 0;">
            <a href="/" style="margin-left: 20px; margin-right: 20px; text-decoration: none;" >Home</li>
            <a href="adopt" style="margin-left: 20px; margin-right: 20px; text-decoration: none;">Adopt</li>
            <a href="fundraisers" style="margin-left: 20px; margin-right: 20px; text-decoration: none;">Fundraisers</li>
            <a href="donate" style="margin-left: 20px; margin-right: 20px; text-decoration: none;">Donate</li>
        </ul>
    </nav>
    <p> HAHHAAH</p>
</body>
</html>