<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animals.css') }}">

    <title>Document</title>
</head>
<body style="font-family: 'Fredoka', sans-serif; font-weight: 400; font-style: normal; margin: 0; padding: 0;">
    <nav style="display: flex; align-items: center; background-color: #b4dcd4; padding: 10px; margin: 0; justify-content: center;">
        <img src="{{url_for('static', filename='images/C4C_Logo.png')}}" style="height: 50px;">
        <ul style="list-style-type: none; display: inline-flex; gap: 30px;">
            <a href="/" style="text-decoration: none;" >Home</a>
            <a href="animals" style="text-decoration: none;">Adopt</a>
            <a href="fundraisers" style=" text-decoration: none;">Fundraisers</a>
            <a href="donate" style=" text-decoration: none;">Donate</a>
        </ul>
    </nav>
    
    <div style=" display: flex; justify-content: center; flex-direction: column">
        <h3 style="font-weight: 500; font-size: xx-large; text-align: center;">Events</h3>
        <div style="display: flex; flex-direction: row; width:inherit; margin: 20px; gap: 20px;">
            <div style="background-color: #b4dcd4; display:flex; flex-direction: column; width: 20%;border-radius: 30px; gap: 20px; padding: 20px; height: fit-content;">
                <form method="POST" action="/fundraisers/filter">
                    <p style="font-size: medium; font-weight: 500;">Filter Events</p>
                    <div class="filter-group">
                        <label>Sort by shelter</label>
                        <select name="shelter_locations" id="shelter_locations">
                            <option value="all">All locations</option>
                            {% for location in locations %}
                                <option value="{{location.ShelterName}}">{{location.ShelterName}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br>
                    <div class="filter-group">
                        <label class="checkbox-inline">
                            <input type="checkbox" value="past_event" name="past">Show past events</label>
                        </label>
                    </div>
                    <br>
                    <div style="justify-content: center;" class="submit">
                        <button type="submit">Apply filters</button>
                    </div>
                </form> 
                
            </div>
            <div style=" width: 80%; gap: 20px; display: flex; flex-direction: column;">
                {% for event in events %}
                <div style="background-color: #e6eddc;  border-radius: 30px; padding: 20px;">
                    <h2 style="font-size: large; font-weight: 500;">{{event.EventName}}</h2>
                    <h3 style="font-size: medium; font-weight: 400;">Event Location: {{event.EventLocation}}</h3>
                    <h3 style="font-size: medium; font-weight: 400;">Event Date: {{event.EventDate}}</h3>
                    <h3 style="font-size: medium; font-weight: 400;">Hosting Shelter: {{event.ShelterName}}</h3>
                </div>
                {% endfor%}
            </div>
        </div>

    </div>
</body>
<footer style="background-color: #b4dcd4; align-content: center; display: flex; gap: 20%; justify-content: center; padding: 10px;">
    <div style="align-content: center;">
        <img src="{{url_for('static', filename='images/C4C_Logo.png')}}" style="height: 50px;">
    </div>
    <div style="line-height: 14px; align-content: center;">
        <a href="/" style="font-size: small; text-decoration: none;">Home</a>
        <br>
        <a style="font-size: small;">About</a>
        <br>
        <a style="font-size: small;">Contact Us</a>
    </div>
    <div style="align-content: center;">
        <a href="login" style="font-size: small; text-decoration: none;">Supervisor Login</a>
    </div>
</footer>
</html>