<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body style="font-family: 'Fredoka', sans-serif; font-weight: 400; font-style: normal; margin: 0; padding: 0;">
    <nav style="display: flex; justify-content: center; align-items: center; background-color: #b4dcd4;">
        <ul style="list-style-type: none; display: inline-flex; gap: 30px;">
            <a href="/" style="text-decoration: none;" >Home</a>
            <a href="adopt" style="text-decoration: none;">Adopt</a>
            <a href="fundraisers" style=" text-decoration: none;">Fundraisers</a>
            <a href="donate" style=" text-decoration: none;">Donate</a>
        </ul>
    </nav>
    <p> HAHHAAH</p>
</body>
</html>