<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body style="font-family: 'Fredoka', sans-serif; font-weight: 400; font-style: normal; margin: 0; padding: 0; color: black;">
    <nav style="display: flex; justify-content: center; align-items: center; background-color: #b4dcd4; padding: 0; margin: 0;">
        <ul style="list-style-type: none; display: inline-flex; gap: 30px;">
            <a href="/" style="text-decoration: none;" >Home</a>
            <a href="adopt" style="text-decoration: none;">Adopt</a>
            <a href="fundraisers" style=" text-decoration: none;">Fundraisers</a>
            <a href="donate" style=" text-decoration: none;">Donate</a>
        </ul>
    </nav>
    <!--Title section-->
    <div style="display: flex; align-items: center; height: 350px; text-decoration: none; justify-content: center; align-content: center;"> 
        <div style="justify-items: center; align-items: center;">
           <img src="{{url_for('static', filename='images/home_page_pet.jpg')}}" style="height: 300px;">
        </div>
        <div style="justify-items: center; align-items: center;">
            <h2 style="font-size: xx-large; font-weight: 400; color: #0047ab;">Find your new best friend!</h2>
            <div style="display: flex; justify-content: center; align-items: center; gap: 20px;"> 
                <a href="adopt" style="background-color: #0047ab; width: 100px; text-align: center; color: white; height: 30px; align-content: center; border-radius: 20px; text-decoration: none;">
                    Adopt
                </a>
                <a href="donate" style="background-color: #0047ab; width: 100px; text-align: center; color: white; height: 30px; align-content: center; border-radius: 20px; text-decoration: none;">
                    Donate
                </a>
            </div>
        </div>
    </div>
    <!-- Animals and Events section-->
     <div style="display: flex; flex-direction: row; justify-content: center;">
        <div style=" width: 60%; padding-left: 50px; padding-right: 50px; padding-bottom: 50px;">
            <div style="display: flex; flex-direction: column;">
                <h3 style="font-weight: 400;">Mammals</h3>
                <div style="display: flex; flex-direction: row; justify-content: space-between; height: 100px; margin: 20px;">
                    <div style="height: 100%; width: 30%; align-content: center; background-color: orange;">
                        card
                    </div>
                    <div style="height: 100%; width: 30%; align-content: center;">
                        card
                    </div>
                    <div style="height: 100%; width: 30%; align-content: center;">
                        card
                    </div>
                </div>
                <div style="display: flex; justify-content: right;">
                <a style="background-color: #0047ab;padding: 10px; border-radius: 20px; color: white; width: 50px;">See all</a>
                </div>
            </div>
            <div style="display: flex; flex-direction: column;">
                <h3 style="font-weight: 400;">Amphibians and Reptiles</h3>
                <div style="display: flex; flex-direction: row; justify-content: space-between; height: 100px; margin: 20px;">
                    <div style="height: 100%; width: 30%; align-content: center; background-color: orange;">
                        card
                    </div>
                    <div style="height: 100%; width: 30%; align-content: center;">
                        card
                    </div>
                    <div style="height: 100%; width: 30%; align-content: center;">
                        card
                    </div>
                </div>
                <div style="display: flex; justify-content: right;">
                <a style="background-color: #0047ab;padding: 10px; border-radius: 20px; color: white; width: 50px;">See all</a>
                </div>
            </div>
            <div style="display: flex; flex-direction: column;">
                <h3 style="font-weight: 400;">Exotics </h3>
                <div style="display: flex; flex-direction: row; justify-content: space-between; height: 100px; margin: 20px;">
                    <div style="height: 100%; width: 30%; align-content: center; background-color: orange;">
                        card
                    </div>
                    <div style="height: 100%; width: 30%; align-content: center;">
                        card
                    </div>
                    <div style="height: 100%; width: 30%; align-content: center;">
                        card
                    </div>
                </div>
                <div style="display: flex; justify-content: right;">
                <a style="background-color: #0047ab;padding: 10px; border-radius: 20px; color: white; width: 50px;">See all</a>
                </div>
            </div>
        </div>
        <div style="background-color: #e6eddc; width: 40%; padding-left: 50px; padding-right: 50px; margin: 100px; border-radius: 30px; padding-top: 30px;">
            <h3 style="font-weight: 400;"> Upcoming Events</h3>
            <div style="width: 100%; height: fit-content; display: flex; flex-direction: column; gap: 20px;">
                {% for event in events %}
                    <div style="background-color: #b4dcd4; line-height: 8px; border-radius: 20px; padding-left: 30px; padding-right: 30px; padding-top: 10px; padding-bottom: 10px;">
                        <p style="font-weight: 500; font-size: large;">{{event.EventName}}</p>
                        <p>{{event.EventDate}}</p>
                        <p>{{event.EventLocation}}</p>
                    </div>
                {% endfor %}
                <div style="justify-content: center; display: flex;">
                    <a style="background-color: #0047ab; text-align: center; color: white; padding: 10px; border-radius: 20px;">View all events</a>
                </div>
            </div>
        </div>
     </div>
</body>
<footer style="background-color: #b4dcd4; align-content: center; display: flex; gap: 40%; justify-content: center;">
    <div>
        <p>LOGO</p>
    </div>
    <div style="line-height: 14px; align-content: center;">
        <a href="/" style="font-size: small; text-decoration: none;">Home</a>
        <br>
        <a style="font-size: small;">About</a>
        <br>
        <a style="font-size: small;">Contact Us</a>
    </div>
</footer>
</html>