<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body style="font-family: 'Fredoka', sans-serif; font-weight: 400; font-style: normal; margin: 0; padding: 0;">
    <nav style="display: flex; justify-content: center; align-items: center; background-color: #b4dcd4; padding: 0; margin: 0;">
        <ul style="list-style-type: none; display: inline-flex; gap: 30px;">
            <a href="/" style="text-decoration: none;" >Home</a>
            <a href="adopt" style="text-decoration: none;">Adopt</a>
            <a href="fundraisers" style=" text-decoration: none;">Fundraisers</a>
            <a href="donate" style=" text-decoration: none;">Donate</a>
        </ul>
    </nav>
    <div style="display: flex; align-items: center; height: 350px; text-decoration: none; justify-content: center; align-content: center;"> 
        <div style="justify-items: center; align-items: center;">
           <img src="{{url_for('static', filename='images/home_page_pet.jpg')}}" style="height: 300px;">
        </div>
        <div style="justify-items: center; align-items: center;">
            <h2 style="font-size: xx-large; font-weight: 400; color: #0047ab;">Find your new best friend!</h2>
            <div style="display: flex; justify-content: center; align-items: center; gap: 20px;"> 
                <a href="adopt" style="background-color: #0047ab; width: 100px; text-align: center; color: white; height: 30px; align-content: center; border-radius: 20px; text-decoration: none;">
                    Adopt
                </a>
                <a href="donate" style="background-color: #0047ab; width: 100px; text-align: center; color: white; height: 30px; align-content: center; border-radius: 20px; text-decoration: none;">
                    Donate
                </a>
            </div>
        </div>
    </div>
</body>
</html>