<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body style="font-family: 'Fredoka', sans-serif; font-weight: 400; font-style: normal; margin: 0; padding: 0; color: black;">
    <nav style="display: flex; align-items: center; background-color: #b4dcd4; padding: 10px; margin: 0; justify-content: center;">
        <img src="{{url_for('static', filename='images/C4C_Logo.png')}}" style="height: 50px;">
        <ul style="list-style-type: none; display: inline-flex; gap: 30px;">
            <a href="/" style="text-decoration: none;" >Home</a>
            <a href="adopt" style="text-decoration: none;">Adopt</a>
            <a href="fundraisers" style=" text-decoration: none;">Fundraisers</a>
            <a href="donate" style=" text-decoration: none;">Donate</a>
        </ul>
    </nav>
    <!--Title section-->
    <div style="display: flex; align-items: center; height: 350px; text-decoration: none; justify-content: center; align-content: center; margin-bottom: 20px;"> 
        <div style="justify-items: center; align-items: center;">
           <img src="{{url_for('static', filename='images/home_page_pet.jpg')}}" style="height: 300px;">
        </div>
        <div style="justify-items: center; align-items: center;">
            <h2 style="font-size: xx-large; font-weight: 400; color: #0047ab;">Find your new best friend!</h2>
            <div style="display: flex; justify-content: center; align-items: center; gap: 20px;"> 
                <a href="adopt" style="background-color: #0047ab; width: 100px; text-align: center; color: white; height: 30px; align-content: center; border-radius: 20px; text-decoration: none;">
                    Adopt
                </a>
                <a href="donate" style="background-color: #0047ab; width: 100px; text-align: center; color: white; height: 30px; align-content: center; border-radius: 20px; text-decoration: none;">
                    Donate
                </a>
            </div>
        </div>
    </div>
    <!-- Animals and Events section-->
     <div style="display: flex; flex-direction: row; justify-content: center;">
        <div style=" width: 65%; padding-left: 40px">
            <div style="display: flex; flex-direction: column; ">
                <h3 style="font-weight: 500; font-size: larger;">Mammals</h3>
                <div style="display: inline-flex;  height: 20%; margin: 15px; padding: 10px; align-items: center; gap: 10px;">
                    {% for mammal in mammals[:3] %}
                    <div style="height: 100%; width: 30%; align-content: center; background-color: #e6eddc; border-radius: 20px; padding: 10px;">
                        <img src="{{url_for('static', filename='images/home_page_pet.jpg')}}" style="width: 100%;">
                        <div style="line-height: 1; margin-left: 10px;">
                            <p>{{mammal.Name}}</p>
                            <p>{{mammal.Species}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div style="display: flex; justify-content: right; padding: 10px;">
                    <a style="background-color: #0047ab;padding: 10px; border-radius: 20px; color: white; width: 125px; text-align: center;">See all mammals</a>
                </div>
            </div>
            <div style="display: flex; flex-direction: column;">
                <h3 style="font-weight: 500; font-size: larger;">Exotics</h3>
                <div style="display: inline-flex;  height: 20%; margin: 15px; padding: 10px; align-items: center; gap: 10px;">
                    {% for exotic in exotics[:3] %}
                    <div style="height: 100%; width: 30%; align-content: center; background-color: #e6eddc; border-radius: 20px; padding: 10px;">
                        <img src="{{url_for('static', filename='images/home_page_pet.jpg')}}" style="width: 100%;">
                        <div style="line-height: 1; margin-left: 10px;">
                            <p>{{exotic.Name}}</p>
                            <p>{{exotic.Species}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div style="display: flex; justify-content: right; padding: 10px;">
                    <a style="background-color: #0047ab;padding: 10px; border-radius: 20px; color: white; width: 125px; text-align: center;">See all exotics</a>
                </div>
            </div>
            <div style="display: flex; flex-direction: column; ">
                <h3 style="font-weight: 500; font-size: larger;">Fish</h3>
                <div style="display: inline-flex;  height: 20%; margin: 15px;  padding: 10px; align-items: center; gap: 10px;">
                    {% for fish in fishies[:3] %}
                    <div style="height: 100%; width: 30%; align-content: center; background-color: #e6eddc; border-radius: 20px; padding: 10px;">
                        <img src="{{url_for('static', filename='images/home_page_pet.jpg')}}" style="width: 100%;">
                        <div style="line-height: 1; margin-left: 10px;">
                            <p>{{fish.Name}}</p>
                            <p>{{fish.Species}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div style="display: flex; justify-content: right; padding: 10px;">
                    <a style="background-color: #0047ab;padding: 10px; border-radius: 20px; color: white; width: 125px; text-align: center;">See all fish</a>
                </div>
            </div>
        </div>
        <div style="background-color: #e6eddc; width: 35%; padding-left: 50px; padding-right: 50px; margin: 100px; border-radius: 30px; padding-top: 30px;">
            <h3 style="font-weight: 500; font-size: larger;"> Upcoming Events</h3>
            <div style="width: 100%; height: fit-content; display: flex; flex-direction: column; gap: 20px;">
                {% for event in events %}
                    <div style="background-color: #b4dcd4; line-height: 1; border-radius: 20px; padding-left: 30px; padding-right: 30px; padding-top: 10px; padding-bottom: 10px; height: fit-content;">
                        <p style="font-weight: 500; font-size: large; height: fit-content; display: flex;">{{event.EventName}}</p>
                        <p>{{event.EventDate}}</p>
                        <p>{{event.EventLocation}}</p>
                    </div>
                {% endfor %}
                <div style="justify-content: center; display: flex;">
                    <a style="background-color: #0047ab; text-align: center; color: white; padding: 10px; border-radius: 20px;">View all events</a>
                </div>
            </div>
        </div>
     </div>
</body>
<footer style="background-color: #b4dcd4; align-content: center; display: flex; gap: 20%; justify-content: center; padding: 10px;">
    <div style="align-content: center;">
        <img src="{{url_for('static', filename='images/C4C_Logo.png')}}" style="height: 50px;">
    </div>
    <div style="line-height: 14px; align-content: center;">
        <a href="/" style="font-size: small; text-decoration: none;">Home</a>
        <br>
        <a style="font-size: small;">About</a>
        <br>
        <a style="font-size: small;">Contact Us</a>
    </div>
    <div style="align-content: center;">
        <a href="login" style="font-size: small; text-decoration: none;">Supervisor Login</a>
    </div>
</footer>
</html>