<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/manage_volunteers.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/manage_applications.css') }}">
    <title>Manage Applications - Care for Critters</title>
</head>
<body>
    <nav>
        <div class="nav-left">
            <img src="{{url_for('static', filename='images/C4C_Logo.png')}}" style="height: 50px;" alt="Care for Critters Logo">
            <ul>
                <a href="/" style="text-decoration: none; color: black;">Home</a>
                <a href="animals" style="text-decoration: none; color: black">Adopt</a>
                <a href="fundraisers" style=" text-decoration: none; color: black">Fundraisers</a>
                <a href="donate" style=" text-decoration: none; color: black">Donate</a>
                <a href="/application_status" style="text-decoration: none; color: black">Application Status</a>
            </ul>
        </div>
        <a href="/logout" class="logout-btn">Logout</a>
    </nav>
    
    <div class="container">
        <div class="header-section">
            <div>
                <a href="/dashboard" class="back-link">← Back to Dashboard</a>
                <h1>Manage Applications</h1>
            </div>
        </div>

        <!-- Filters -->
        <div class="filters">
            <div class="filter-group">
                <label for="shelter-filter">Filter by Status:</label>
                <select id="status-filter" onchange="filterApps()">
                    <option value="Pending" selected>Pending</option>
                    <option value="Rejected">Rejected</option>
                    <option value="Accepted">Accepted</option>                    
                </select>
            </div>
        </div>

        <!-- Volunteers Table -->
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Application ID</th>
                        <th>Application Date</th>                        
                        <th>Applicant</th>
                        <th>Pet</th>
                        <th>Shelter</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="volunteers-table">
                    {% for adoption in adoptions %}
                    <tr data-app-id="{{ adoption.AdoptionID }}"
                        data-name="{{ adoption.Fname }} {{ adoption.Lname }}"
                        data-email="{{ adoption.Email }}"
                        data-pet="{{ adoption.PetName }}"
                        data-date="{{ adoption.AdoptionDate }}"
                        data-petID="{{ adoption.PetID }}"
                        data-photo="{{ adoption.Photo }}"
                        data-address="{{ adoption.BuildingNo }} {{ adoption.Street }}, {{ adoption.City }}, {{ adoption.Province }} {{ adoption.PostalCode }}"
                        data-shelter="{{ adoption.ShelterLocation }}"
                        data-license="{{ adoption.DriverLicenseNo }}"
                        data-phone="{{ adoption.PhoneNumber }}"
                        data-status="{{ adoption.Status }}">
                        <td>{{ adoption.AdoptionID }}</td>
                        <td>{{ adoption.AdoptionDate }}</td>                        
                        <td>{{ adoption.Fname }} {{ adoption.Lname }} <br><small> {{ adoption.Email }}</small></td>           
                        <td>{{ adoption.PetName }} <br><small> {{ adoption.PetID }}</small></td>
                        <td>{{ adoption.ShelterLocation }}</td>
                        <td class="
                            {% if adoption.Status == 'Pending' %}status-pending{% endif %}
                            {% if adoption.Status == 'Accepted' %}status-accepted{% endif %}
                            {% if adoption.Status == 'Rejected' %}status-rejected{% endif %}
                            ">{{ adoption.Status }}</td>            
                        <td>
                            <button class="edit-btn" onclick="reviewApplicationFromRow(this)">Review</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <footer>
        <div>
            <img src="{{url_for('static', filename='images/C4C_Logo.png')}}" style="height: 50px;" alt="Care for Critters Logo">
        </div>
        <div>
            <a href="/">Home</a><br>
            <a>About</a><br>
            <a>Contact Us</a>
        </div>
        <div>
            <a href="/dashboard">Supervisor Dashboard</a>
        </div>
    </footer>

    <div id="review-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeReview()">&times;</span>

            <h1 id="modal-title"> Review Application</h1>
            <br>
            <form id="review-form" method="POST" action="{{ url_for('review_application') }}">
                <!-- Hidden fields to identify the application -->
                <input type="hidden" name="adoptionID" id="form-adoptionID">
                <input type="hidden" name="petID" id="form-petID">

                <div class="review-section">
                    <h3>Applicant Information</h3>
                    <p><strong>Name: </strong> <span id="rev-name"></span></p>
                    <p><strong>Email: </strong> <span id="rev-email"></span></p>
                    <p><strong>Phone: </strong> <span id="rev-phone"></span></p>
                    <p><strong>Driver License: </strong> <span id="rev-licenseNo"></span></p>
                    <p><strong>Address: </strong> <span id="rev-address"></span></p>
                </div>
                <br>
                <div class="review-section">
                    <h3>Pet Information</h3>
                    <p><strong>Name: </strong> <span id="rev-petName"></span></p>
                    <p><strong>ID: </strong> <span id="rev-petID"></span></p>
                    <p><strong>Shelter Location: </strong> <span id="rev-shelter"></span></p>
                    <img id="rev-photo" class="photo" src="" alt="Pet Photo">
                </div>

                <div class="form-actions">
                    <button class="submit-btn" name="action" value="accept">Accept</button>
                    <button class="submit-btn" name="action" value="reject" style = "background-color: #ed4e4e;"  onclick="rejectApplication()">Reject</button>
                </div>
 
            </form>        
        </div>
    </div>

    <script>

        // Filter applications by status
        function filterApps() {
            const selected = document.getElementById('status-filter').value;
            const rows = document.querySelectorAll('#volunteers-table tr');
            
            rows.forEach(row => {
                const status = row.getAttribute('data-status');
                if (status === selected) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        }

        // filters only 'Pending' applications on page load
        window.addEventListener('DOMContentLoaded', (event) => {
            filterApps();
        });

     // Open review modal
    function reviewApplicationFromRow(button) {
        const row = button.closest('tr');

        document.getElementById("rev-name").textContent = row.getAttribute('data-name');
        document.getElementById("rev-email").textContent = row.getAttribute('data-email');
        document.getElementById("rev-phone").textContent = row.getAttribute('data-phone');
        document.getElementById("rev-licenseNo").textContent = row.getAttribute('data-license');
        document.getElementById("rev-address").textContent = row.getAttribute('data-address');
        
        document.getElementById("rev-petName").textContent = row.getAttribute('data-pet');
        document.getElementById("rev-petID").textContent = row.getAttribute('data-petID');
        document.getElementById("rev-shelter").textContent = row.getAttribute('data-shelter');
        document.getElementById("rev-photo").src = row.getAttribute('data-photo');

        // Save adoption and pet IDs for Accept/Reject
        document.getElementById("form-adoptionID").value = row.getAttribute('data-app-id');
        document.getElementById("form-petID").value = row.getAttribute('data-petID');

        document.getElementById("review-modal").style.display = "block";
    }

    // Close modal
    function closeReview() {
        document.getElementById("review-modal").style.display = "none";
    }

    // Close when clicking outside
    window.onclick = function(event) {
        const modal = document.getElementById("review-modal");
        if (event.target === modal) {
            modal.style.display = "none";
        }
    };

    </script>
</body>
</html>